.nav .nav__list-item2,
.nav .nav__list-item3 {
  opacity: 0.6;
}

.nav .nav__list-item1 {
  border-bottom: 3px solid #f7f7f7;
}

.breakfast {
  padding: 0px 10px;
}

.breakfast__body-content {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #7d3cec;
  color: white;
}

.breakfast__body-content .breakfast__body-content-up {
  display: flex;
}

.breakfast__body-content .breakfast__body-content-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  opacity: 0.7;
  margin-right: 5px;
  margin-bottom: 5px;
}

.breakfast__body-content .breakfast__body-content-money {
  font-size: 20px;
}

.breakfast__body-content-up i {
  font-size: 15px;
  opacity: 0.7;
}

.breakfast .breakfast__body-content {
  margin-bottom: 10px;
}

.nav__list .nav__list-link {
  color: white;
  text-decoration: none;
}

.sort-down-button {
  background-color: #7d3cec;
  color: white;
}

.deposit {
  padding: 20px 30px;
  margin: 10px;
  border-radius: 1em;
  border: 1px solid black;
}

.deposit-totalMoney .d-m {
  position: absolute;
  right: 10%;
}

.deposit-totalMoney1 {
  font-size: 17px;
  margin-bottom: 17px;
}

.deposit-totalMoney .deposit-korean1 {
  font-weight: bold;
}

.deposit-totalMoney .deposit-money1 {
  opacity: 0.4;
  font-weight: bold;
}

.deposit-totalMoney2,
.deposit-totalMoney3,
.deposit-totalMoney4,
.deposit-totalMoney5,
.deposit-totalMoney6,
.deposit-totalMoney7,
.deposit-totalMoney8,
.deposit-totalMoney9,
.deposit-totalMoney10 {
  margin-left: 10px;
}

.deposit-totalMoney2,
.deposit-totalMoney3,
.deposit-totalMoney6 {
  font-size: 15px;
  opacity: 0.7;
}

.deposit-totalMoney3,
.deposit-totalMoney6 {
  margin-bottom: 10px;
}

hr.line_one {
  width: 700px;
  border-bottom: 10px;
  text-align: center;
  margin-left: 7px;
}

.totalMoney_kb {
  width: 3%;
  height: auto;
}
