.statusplusnav {
  background-color: #7d3cec;
}

.status-bar .status-bar__column {
  display: inline-block;
}

.status-bar .home__body-imgB {
  position: relative;
  top: 10px;
  margin-bottom: 20px;

  width: 100%;
  height: auto;
}

.status-bar .home__body-people {
  position: absolute;
  right: 4%;
  top: 4%;
  width: 4%;
  height: auto;
}

.status-bar .home__body-imgLiiv {
  position: absolute;
  top: 10px;
  left: 89px;
  height: 10%;
  width: auto;
}
